.signUp {
    max-width: 396px;
    padding-top: 70px;
    margin: 0 auto;
}

.signUp__logo {
    width: 38px;
    height: 38px;
    margin-bottom: 37px;
}

.signUp__title {
    margin: 0 0 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
}

.signUp__form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.signUp__input-container {
    max-width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.signUp__text {
    margin: 0 0 4.5px 0;
    color: rgba(139, 139, 139, 1);
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
}

.signUp__input {
    margin: 0;
    font-weight: 400;
    font-size: 14.2px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 1);
    padding: 0 0 8px 0;
    border: none;
    background-color: rgba(32, 32, 32, 1);
    border-bottom: rgba(66, 66, 66, 1) 1px solid;
    width: 100%;
    outline: none;
}

.signUp__button {
    margin: 128.5px 0 17px 0;
    padding: 0;
    width: 100%;
    min-height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 133, 244, 1);
    border: none;
    border-radius: 3px;
}

.signUp__info {
    color: rgba(139, 139, 139, 1);
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 14.3px;
    line-height: 16.94px;
}

.signUp__info_color_blue {
    color: rgba(66, 133, 244, 1);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .signUp {
        padding-top: 232px;
    }
}

@media screen and (max-width: 460px) {
    .signUp {
        padding: 232px 30px 0 30px;
    }
}

@media screen and (max-width: 320px) {
    .signUp {
        padding: 56px 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signUp__logo {
        margin-bottom: 48px;
    }

    .signUp__title {
        margin: 0 0 80px 0;
    }

    .signUp__button {
        margin: 216px 0 0px 0;
        font-size: 12.1px;
        line-height: 14.52px;
    }

    .signUp__info {
        margin-top: 14px;
        font-size: 12.2px;
        line-height: 14.52px;
    }

}