.moviesCard{
    width: 100%;
    height: 319px;
    border-radius: 6px;
    padding: 18px 0;
    background-color:rgba(34, 34, 34, 1);
    box-sizing: border-box;
}

.moviesCard__title-container{
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
}

.moviesCard__title {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.moviesCard__container{
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.moviesCard__duration{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgba(139, 139, 139, 1);
}

.moviesCard__image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .moviesCard{
        width: 100%;
        height: 313px;
        padding: 18px 0;
        border-radius: 6px;
        background-color:rgba(34, 34, 34, 1);
        
    }
}

@media screen and (max-width: 320px) {
    .moviesCard {
        height: 271px;
        padding: 16px 0;
    }

    .moviesCard__container {
        padding-top: 14px;
        gap: 12px;
    }

    .moviesCard__title-container {
        padding: 0 14px;
    }
    .moviesCard__title {
        font-size: 12px;
        line-height: 18px;
    }

    .moviesCard__duration {
        font-size: 10px;
        line-height: 18px;
    }

}