.main {
    max-width: 100%;
    margin: 0 auto;
}

.profile {
    max-width: 410px;
    padding-top: 71px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__user-name{
    margin: 0 0 120px 0;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
}

.profile__form{
    width: 100%;
    margin: 0;
}

.profile__form_change{
    margin: 0 0 0 0;
}

.profile__input-content{
    margin: 0 0 195px;
}


.profile__input-container{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 17px;
    border: none;
    position: relative;
}

.profile__input-name{
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    position: absolute;
    top: 3px;
}

.profile__input{
    padding: 0;
    margin: 0;
    text-align: right;
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    height: 15px;
    display: block;
}

.profile__input-error {
    margin: 0 auto 0 auto;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.41px;
    color: rgba(238, 52, 101, 1);
}

.profile__input-border{
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__input:focus{
    outline: 1px solid #4285F4;
    border-radius: 1px;
}

.profile__global-errors {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

.profile__errors {
    display: none;
    color: rgba(255, 0, 76, 1);
    font-weight: 400;
    font-size: 11px;
    line-height: 13.34px;
}

.profile__errors_active {
    display: block;
}

.profile__errors_success {
    display: block;
    color: rgba(255, 255, 255, 1);
}

.profile__save {
    display: block;
    margin: 0;
}

.profile__save_hide {
    display: none;
}

.profile__save-button {
    margin: 0 0 17px 0;
    padding: 0;
    width: 100%;
    min-height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 133, 244, 1);
    border: none;
    border-radius: 3px;
}

.profile__save-button_disabled{
    color: rgba(194, 194, 194, 1);
    background-color: rgba(248, 248, 248, 1);
}

.button{
    padding: 0;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    width: 130px;
    font-size: 13px;
    line-height: 15.73px;
}

.profile__button-edit {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    display: block;
}

.profile__button-edit_hide {
    display: none;
}

.profile__button-exit{
    text-decoration: none;
    text-align: center;
    margin-top: 16px;
    color: rgba(238, 52, 101, 1);
    font-weight: 500;
}

.profile__button-exit_hide{
    display: none;
}

.link:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile {
        padding-top: 230px;
    }

    .profile__userName {
        margin: 0 0 94px 0;
    }

    .profile__input-content{
        margin: 0 0 185px;
    }

}

@media screen and (max-width: 450px) {
    .profile {
        padding: 230px 15px 0 15px;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        padding-top: 64px;
        max-width: 260px;
    }

    .profile__userName {
        margin: 0 0 78px 0;
    }

    .profile__input-content{
        margin: 0 0 353px;
    }
    
    .button {
        width: 115px;
        font-size: 12px;
        line-height: 14.52px;
    }
}