.notFound {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 276px;
}

.notFound__img {
    width: 252px;
    padding-bottom: 38px;
}

.notFound__text {
    margin: 0;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19.36px;
    padding-bottom: 185px;
}

.notFound__link {
    text-decoration: none;
    color: rgba(66, 133, 244, 1);
    font-weight: 400px;
    font-size: 14px;
    line-height: 16.94px                                                    
}

@media screen and (max-width: 320px) {
    .notFound {
        padding-top: 347px;
    }

    .notFound__img {
        width: 143px;
        padding-bottom: 30px;
    }

    .notFound__text {
        font-size: 12px;
        line-height: 14.52px;
        padding-bottom: 284px;
    }

    .notFound__link {
        font-size: 12px;
        line-height: 14.52px
    }
}

