.searchForm {
    width: 100%;
    padding: 66px 70px 78px 70px;
    box-sizing: border-box;
}

.searchForm__form {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: rgba(170, 170, 170, 1) 1px solid;
}

.searchForm__input-container {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

.searchForm__input-container_type_checkbox {
    display: flex;
    gap: 14px;
    margin-bottom: 43px;
}

.searchForm__input {
    width: 100%;
    height: 72px;
    border: rgba(170, 170, 170, 1) 1.5px solid;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 24px;
    box-sizing: border-box;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.searchForm__button {
    position: absolute;
    top: 9px;
    right: 9px;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 52px;
    background-color: rgba(66, 133, 244, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.searchForm__checkbox-text {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.link:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .searchForm {
        padding: 65px 30px 78px 30px;
    }
}

@media screen and (max-width: 320px) {
    .searchForm {
        padding: 65px 14px 48px 14px;
    }

    .searchForm__input {
        width: 100%;
        height: 56px;
        padding-left: 11px;
        margin-bottom: 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    .searchForm__button {
        width: 78px;
        height: 44px;
        top: 6px;
        right: 7px;
    }
}