@keyframes preloader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 20px;
}

.preloader__container {
    width: 100px;
    height: 100px;
    position: relative;
    animation: preloader-spin 1s linear infinite;
}

.preloader__round {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid transparent;
    border-top: 4px solid rgba(66, 133, 244, 1);
    border-radius: 50%;
}