.header-auth {
  margin: 0 auto;
  background-color: rgba(32, 32, 32, 1);
  padding: 15.5px 70px 18px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-auth_main {
  background-color: rgba(7, 48, 66, 1);
}

.header-auth__logo {
  max-width: 38px;
  max-height: 38px;
  margin: 3.5px 0 0 0;
  padding: 0;
}

.header-auth__nav-bar {
  display: flex;
  gap: 50px;
  margin: 0px;
}

.header-auth__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 18.6px;
  align-items: center;
  justify-content: center;
}

.header-auth__item:nth-child(2){
  margin-right: 29px;
}

.header-auth__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.header-auth__button-active{
  font-weight: 500;
}

.header-auth__link {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-auth__link-active{
  font-weight: 500;
}

.header-auth__link-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.header-auth__profile {
  padding: 0;
  margin: 0 0 0 13px;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: rgba(49, 49, 49, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-auth__profile_main {
  background-color: rgba(15, 65, 87, 1);
}

.header-auth__avatar {
  width: 10px;
  height: 10px;
}

.header-auth__burger {
  width: 44px;
  height: 44px;
  background-color: rgba(7, 48, 66, 1);
  background: url(../../images/BurgerButton.svg) no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: none;
}

.link:hover {
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-auth {
  padding: 15px 30px 20px 30px;
  }

  .header-auth__nav-bar {
      display: none;
  }

  .header-auth__burger {
      display: block;
  }

  .header-auth__button-active {
      border-bottom: 2px solid rgba(0, 0, 0, 1);
      padding-bottom: 8px;
  }
}

@media (max-width: 320px) {
  .header-auth {
          padding: 14px 8px 20px 15px;
      }

  .header-auth__burger {
          width: 39px;
  }
}