@import url(./vendor/normalize.css);
@import url(./fonts/font.css);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
#root {
  background-color: #202020;
}