.aboutMe {
    max-width: 100%;
    padding: 110px 70px 101px 70px;
}

.aboutMe__title-container {
    border-bottom: #DADADA 1px solid;
    max-width: 1140px;
    margin-bottom: 66px;
}

.aboutMe__title {
    margin: 0;
    font-weight: 400;
    font-size: 20.5px;
    line-height: 28px;
    margin-bottom: 22px;
}

.aboutMe__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.aboutMe__text-container {
    max-width: 590px;
}

.aboutMe__name {
    margin: 0;
    font-weight: 400;
    font-size: 46.5px;
    line-height: 58px;
    margin-bottom: 18px;
}

.aboutMe__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 26px;
}

.aboutMe__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 99px;
}

.aboutMe__button {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    background-color: #202020;
    border: none;
    color: #FFFFFF;
}

.aboutMe__img {
    max-width: 270px;
    height: 100%;
}

@media screen and (max-width: 768px) { 
    .aboutMe {
        padding: 89px 50px 89px 50px;
    }

    .aboutMe__text-container {
        max-width: 360px;
    }

    .aboutMe__name {
        font-size: 37.6px;
        line-height: 39px;
        margin-bottom: 16px;
    }

    .aboutMe__subtitle {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .aboutMe__text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
    }

    .aboutMe__img {
        max-width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 580px) {
    .aboutMe__content {
        flex-direction: column-reverse;
        align-items: center;
        box-sizing: border-box;
    }

    .aboutMe__text-container {
        max-width: 400px;
    }
}

@media screen and (max-width: 320px) {
    .aboutMe {
        padding: 72px 14px 68px 14px;
    }

    .aboutMe__title-container {
        margin-bottom: 60px;
    }

    .aboutMe__title {
        font-size: 16.7px;
        line-height: 21.78px;
        margin-bottom: 27px;
    }

    .aboutMe__content {
        align-items: normal;
        gap: 40px;
    }

    .aboutMe__name {
        font-size: 28.1px;
        line-height: 36.31px;
        margin-bottom: 20px;
    }

    .aboutMe__subtitle {
        font-size: 11px;
        line-height: 16px;
    }

    .aboutMe__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 39px;
    }

    .aboutMe__img {
        max-width: 100%;
        height: 352px;
        object-fit: cover;
    }
}


